@import "./reset.css";
@import "./root.css";
@import "./media-queries.css";

body,
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Componentes */
.btn {
  background-color: transparent;
  border: 2px solid var(--additional--blue);
  border-radius: 8px;
  color: var(--additional--blue);
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 3.125rem;
  padding: 0 30px;
  transition: all .3s;
}
.btn:hover {
  background-color: var(--primary--color);
  color: white;
}

/* Site */
.container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr minmax(auto, var(--size-container)) 1fr;
  gap: 80px;
}

/* HERO */
.hero {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat( 2, 1fr );
  gap: 0 50px;
  align-items: center;
  margin-top: 80px;
}
.hero .hero__title {
  font-size: 6.25rem;
  color: var(--additional--blue);
  text-transform: uppercase;
}
.hero .hero__text {
  font-size: 1.25rem;
  color: var(--font--primary);
  line-height: 25px;
}
.hero .hero__image img {
  max-width: 900px;
  width: 100%;
  height: auto;
  display: block;
}
.btn.btn--hero {
  margin-top: 30px;
}
.btn.btn--hero:hover {
  background-color: var(--additional--blue);
  color: var(--secundary--color);
}

/* ABOUT */
.about {
  grid-column: 2;
  display: grid;
  grid-template-columns: minmax(auto, 600px) 1fr;
  align-items: center;
  background-color: var(--tertiary--color);
}
.about .about__image img {
  max-width: 600px;
  width: 100%;
  height: auto;
  display: block;
}
.about .about__wrapper {
  padding: 0 80px;
}
.about .about__title,
.about .about__text {
  color: var(--background--tertiary);
  font-family: 'Roboto', sans-serif;
}
.about .about__title {
  text-transform: uppercase;
  font-size: 4rem;
}
.about .about__text {
  font-size: 1.75rem;
  margin: 20px 0 30px 0;
  line-height: 35px;
}
.btn.btn--about {
  border: 2px solid var(--secundary--color);
  color: var(--secundary--color);
}
.btn.btn--about:hover {
  background-color: var(--secundary--color);
  color: var(--additional--blue);
}

/* PRODUCTS */
.product {
  grid-column: 2;
  background-color: var(--background--tertiary);  
  padding: 4rem 5rem;
}
.product .product__title {
  text-transform: uppercase;
  font-size: 3.125rem;
  color: var(--additional--blue);
  margin-bottom: 2.5rem;
}
.product .product__title.product__title--item {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1rem;
}
.product .product__wrapper {
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  gap: 50px 90px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.product .product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .product__image {
  text-align: center;  
  margin-bottom: .5rem;
}
.product .product__image img {
  max-width: 80px;
  width: 100%;
  height: auto;  
}
.product .product__text {
  margin-bottom: 1rem;
}
.btn.btn--product {
  margin: 0 auto;
  width: 100%;
  border: none;
}

.btn.btn--product:hover {
  background-color: var(--tertiary--color);
} 























textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;  
  outline: 0;
}




.menu,
footer {  
  display: grid;  
  grid-template-columns: 1fr minmax(auto, 1600px) 1fr;  
}

/* MENU NAV */

header {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.100);

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.100);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.100);
}

.menu__item {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  height: 130px;
  padding: 0 30px;  
}

.menu__logo, 
.menu__nav,
.menu__nav__list,
.menu__search,
.menu__login,
.bar {
  align-self: center;
}

.menu__logo__item {  
  width: 250px;
  height: auto;
  margin-left: 10px;   
}

.menu__nav {  
  width: 850px;  
}

.menu__nav__list {
  display: flex;
  justify-content: space-between;  
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font--primary);
  margin-right: 10px;
}

.menu__nav__list--link {
  font-family: 'Nunito', sans-serif;  
  color: var(--font--primary);
  letter-spacing: 1.5px;
  display: block; 
  position: relative;  
}

/* efeito hover */

.menu__nav__list--link:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--tertiary--color);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

.menu__nav__list--link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  color: var(--additional--blue);
}


.menu a:hover {
  color: var(--tertiary--color);  
}

.menu__search--input,
.contact__forms__input {
  all: unset;
  caret-color: var(--primary--color); /* mudar a cor do cursor*/
}

/*
.menu__search--input {
  width: 230px;
  height: 52px;
  border-radius: 50px;

  background-image: url(/src/public/images/search.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 19px;
  background-color: var(--background--tertiary);
  
  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
  font-size: 1.25rem;
  color: var(--font--primary);  
  
  padding-left: 40px;
}

.menu__login {
  width: 50px;
  height: 50px;

  background-image: url('/src/public/images/login.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 28px;
  background-color: var(--background--tertiary);

  border-radius: 100%;
  
  cursor: pointer;
}

*/

/* MENU BURGUER */

.menu__burguer[type = "checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {  
  display: none;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: var(--primary--color);
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

.menu__burguer[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

.menu__burguer[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057;
}

.menu__burguer[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

.menu__burguer[type]:checked ~ .menu__item {
  width: 100vw;
  height: 500px;
  background-color: #f3f3f3;
}




.atendimento,
.remocoes {
  width: 110px;  
}

.atendimento {
  height: 80px;  
}

/* WORK */

.work {
  grid-column: 2;
  width: 100%;
  max-width: 1600px;
  height: auto;
  background-image: url(/src/public/images/work.png);  
  padding: 457px 290px 0 70px;
}

.work__item__icon {
  margin-right: 30px;
  width: 100px;
  height: auto;
}

.work__items {
  cursor: pointer;
  margin-bottom: 50px;
}

.work__items span:last-child {
  position: relative;
  left: 135px;
}

.work span {  
  font-size: 6.25rem;
  font-weight: bolder;
  color: var(--font--primary);
  text-transform: uppercase;
}

/* CLIENT */

.client {
  grid-column: 2;    
}

.client__title,
.client__image {
  display: flex;
}

.client__title {
  color: var(--font--primary);
  font-size: 1.875rem;  
  justify-content: center;
  text-transform: uppercase;
}

.client__image {    
  margin-top: 1.875rem;  
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  filter: grayscale(100%);
}

.client__image img {
  width: 300px;
  height: auto;
}

/* TESTEMONIAL */

.testimonial {
  grid-column: 2;
}

.testimonial__title {
  color: var(--font--primary);
  font-size: 1.88rem;    
  text-transform: uppercase;
  margin-bottom: 150px;  
}

.testimonial__item {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial__item__list:nth-child(2) {
  margin: 0 10px;
}

.testimonial__item__block,
.testimonial__item__text,
.testimonial__title {
  display: flex;
  flex-direction: column;  
  align-items: center;
} 

.testimonial__item__block {  
  width: 400px;
  height: 500px;  
  border: 2px solid var(--background--primary);
  border-radius: 10px;  
}

.testimonial__item__block:hover {
  box-shadow: 4px 4px 8px 0 rgba(60, 60, 59, 0.2);
  scale: 1.02;  
}

.testimonial__photo {
  width: 200px;
  height: 200px;

  border-radius: 50%;

  position: relative;
  bottom: 100px;  

  border: 1px solid var(--background--primary);
  box-shadow: 4px 4px 8px 0 rgba(60, 60, 59, 0.3);
  object-fit: cover;  
}

.testimonial__name {  
  font-size: 1.25rem;
  color: var(--additional--blue);
  margin-bottom: 20px; 
}

.testimonial__item__text {
  max-height: 240px;
  position: relative;
  bottom: 50px;
}

.testimonial__text {
  width: 350px;
  height: auto;
  font-size: 1.25rem;
  color: var(--font--primary);
  text-align: center;
}

.testimonial__description {
  margin-top: 40px;
  font-size: 1.25rem;
  font-style: italic;
  color: var(--font--primary);
}

.testimonial__stars {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;  
}

.testimonial__star__item {
  max-width: 36px;
  width: 100%;
}

/* CONTATO */

.contact {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1000px 1fr;  
  align-items: flex-end;
}

.contact__bg {
  grid-column: 1;
  max-width: 1000px;
  width: 100%; 
  height: 930px;  
  opacity: 0.7; 
  object-fit: cover;   
}

.contact__forms {
  grid-column: 2;
  max-width: 600px;
  width: 100%;
  height: 930px;

  display: flex;
  flex-direction: column;
  align-items: center;
   
  background: rgba(243, 243, 243, 0.6);  
}

.contact__forms__title {
  color: var(--additional--blue);
  font-size: 2.50rem;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin: 40px 0;  
}

.contact__forms__input {
  width: 517px;
  height: 76px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.input--textarea,
.input--select {
  width: 517px;  
}

.contact__forms__input,
option {
  padding-left: 24px;
  font-size: 1.25rem;
  color: var(--font--secundary);
}

.input--textarea {
  height: 260px;
  padding-top: 24px;
  outline: 0;
}

/* CHECKBOX */

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox__item {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.checkbox__title {
  margin-left: 20px;
  font-size: 1.25rem;
  color: var(--font--secundary);
}

.contact__forms__button {
  width: 512px;
  height: 84px;  
  margin-top: 32px;
  background-color: transparent;
  border: 2px solid var(--additional--blue);
  border-radius: 8px;
  color: var(--additional--blue);
  font-size: 1.25rem;
  cursor: pointer;
}

/* RODAPÉ */

footer {  
  background-color: #f3f3f3;
  width: 100vw;
  height: auto;
  margin-top: 80px;  
}

.footer__general { 
  grid-column: 2;  
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__about__image__item {
  width: 180px;
  height: auto;
}

.footer__title {
  text-transform: uppercase;
  color: var(--primary--color);  
  letter-spacing: 1px;  
}

.footer__list {
  margin-top: 20px;
}

.footer__list__item {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.footer__list__about--link,
.footer__list__services--link,
.footer__list--link {
  color: var(--font--primary);  
}

.networks {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fi {
  font-size: 1.88rem;
  color: var(--tertiary--color);
}

.footer__inf {
  margin-top: 40px;
  grid-column: 2;
}

.place address {
  display: flex;
  flex-direction: column;
  line-height: 05px;
  text-align: left;
  font-style: normal;
}

.place a {
  font-size: 1rem;
  color: var(--font--primary);
  padding-bottom: 20PX;
}

.copyright {  
  text-align: center;
  color: var(--font--primary);
  font-size: 0.75rem;
  padding: 10px 0 10px 0;
}

.copyright__link {
  color: var(--font--primary);    
}