@import "./reset.css";
@import "./root.css";

body,
html {  
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /*62.5% - 10px*/
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;  
  outline: 0;
}

.btn-default {
  width: 512px;
  height: 84px;  
  
  background-color: transparent;
  border: 2px solid var(--additional--blue);
  border-radius: 8px;
  color: var(--additional--blue);
  font-size: 20px;
  cursor: pointer;
}

.container {  
  display: grid;
  grid-template-columns: var(--grid--container);  
}

/* MENU NAV */

.menu {  
  grid-column: 2 / 3;    
  display: flex;
  justify-content: center;
  height: 130px;   
}

.menu__logo, 
.menu__nav,
.menu__nav__list,
.menu__search,
.menu__login {
  align-self: center;
}

.menu__logo__item {  
  width: 250px;
  height: auto;
}

.menu__nav {
  width: 790px;
  margin: 0 50px 0 267px ;
}

.menu__nav__list {
  display: flex;
  justify-content: space-around;  
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font--primary);
}

.menu__nav__list--link {
  font-family: 'Nunito', sans-serif;  
  color: var(--font--primary);
  letter-spacing: 1.5px;  
}

.menu__nav__list--link:hover {
  color: var(--additional--blue);
}

.menu__search--input,
.contact__forms__input {
  all: unset;
  caret-color: var(--primary--color);
}

.menu__search--input {
  width: 230px;
  height: 52px;
  border-radius: 50px;

  background-image: url(/src/public/images/search.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 19px;
  background-color: var(--background--tertiary);

  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  padding-left: 40px;
  color: var(--font--primary);  
}

.menu__login {
  width: 50px;
  height: 50px;

  background-image: url('/src/public/images/login.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 28px;
  background-color: var(--background--tertiary);

  border-radius: 100%;
  margin-left: 24px;
  cursor: pointer;
}

main {  
  grid-column: 2 / 3;  
  grid-row: 2 / 3;
}

/* HERO */

.hero {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;  
}

.hero__presentation__title {
  font-size: 104px;
  color: var(--additional--blue);
  text-transform: uppercase;
}

.hero__presentation__text {
  width: 475px;
  height: auto;
  font-size: 20px;
  color: var(--font--primary);
  line-height: 25px;
  margin: 10px 0 30px 0;
}

.btn-hero {
  width: 160px;
  height: 50px;
}

.btn-hero:hover {
  background-color: var(--additional--blue);
  color: var(--secundary--color);
}

.hero_image__item--ambulance {
  position: relative;  
  width: 900px;
  height: auto;
}

/* ABOUT */

.about {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.about__image {
  width: 600px;
  height: auto;
}

.about__item {
  width: 1000px;
  height: 600px;
  border-radius: 0 20px 20px 0;
  background-color: #069999;   
  padding: 50px 0 0 80px;
}

.about__title,
.about__text {
  color: var(--background--tertiary);
  font-family: 'Roboto', sans-serif;
}

.about__title {
  text-transform: uppercase;
  font-size: 64px;
}

.about__text {
  width: 800px;
  height: auto;
  font-size: 28px;
  margin: 20px 0 30px 0;
  line-height: 35px;
}

.btn-about {
  width: 160px;
  height: 50px;
  border: 2px solid var(--secundary--color);
  color: var(--secundary--color);
}

.btn-about:hover {
  background-color: var(--secundary--color);
  color: var(--additional--blue);
}

/* PRODUCTS */

.products {
  margin-top: 100px;

  width: 1600px;
  height: 700px;

  display: grid;  
  grid-template-rows: 100px 250px 250px;

  background-color: var(--background--tertiary);
  border-radius: 10px;
  padding: 0 50px;   
}

.products__title__item {
  margin-top: 30px;
  text-transform: uppercase;
  color: var(--additional--blue);
  font-weight: 400;
  font-size: 50px;
}

.products__item {  
  width: 500px;
  height: 250px;  
}

.products__line--one,
.products__line--two {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 40px;
}

.products__line--one {  
  grid-row: 2;
}

.products__line--two {
  grid-row: 3;
}

.products__item__title {
  margin-top: 20px;
}

.products__item__title a {
  font-size: 30px;
  color: var(--additional--blue);
  text-transform: uppercase;  
}

.products__item__title a:hover {
  border-bottom: 2px solid var(--additional--blue);
}

.products__item__text {
  margin-top: 10px;
  color: var(--font--primary);
  line-height: 25px;  
}

.products__item__icon {  
  width: 80px;
  height: auto;
}

.atendimento,
.remocoes {
  width: 110px;  
}

.atendimento {
  height: 80px;  
}

/* WORK */

.work {
  margin-top: 100px;
  width: 1600px;
  height: 800px;
  background-image: url(/src/public/images/work.png);
  padding: 457px 290px 0 70px;  
}

.work__item__icon {
  width: 100px;
  height: auto;
}

.work span {  
  font-size: 104px;
  font-weight: bolder;
  color: var(--font--primary);
  text-transform: uppercase;
}

/* CLIENT */

.client {
  margin-top: 100px;
}

.client__title,
.client__image {
  display: flex;
}


.client__title {
  color: var(--font--primary);
  font-size: 30px;  
  justify-content: center;
  text-transform: uppercase;
}

.client__image {  
  margin-top: 30px;  
  justify-content: space-around;
  align-items: center;
  filter: grayscale(100%);
}

.client__image img {
  width: 300px;
  height: auto;
}

/* TESTEMONIAL */

.testimonial {
  height: 400px;
  margin-top: 100px;  
}

.testimonial__item,
.testemonial__item__text,
.testimonial__title {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.testimonial__title {
  color: var(--font--primary);
  font-size: 30px;  
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 150px;  
}

.testimonial__photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  bottom: 20%;  
  border: 1px solid var(--background--primary);
  box-shadow: 4px 4px 8px 0 rgba(60, 60, 59, 0.3);  
}

.testimonial__item {  
  width: 400px;
  height: 500px;  
  border: 2px solid var(--background--primary);
  border-radius: 10px;  
}

.testimonial__item:hover {
  box-shadow: 4px 4px 8px 0 rgba(60, 60, 59, 0.3);
  scale: 1.02;  
}

.testemonial__item__text {
  height: 240px;
  position: relative;
  bottom: 50px;
}

.testimonial__name {  
  font-size: 20px;
  color: var(--additional--blue);
  margin-bottom: 20px; 
}

.testimonial__text {
  width: 350px;
  height: auto;
  font-size: 20px;
  color: var(--font--primary);
  text-align: center;
}

.testimonial__description {
  margin-top: 40px;
  font-size: 20px;
  font-style: italic;
  color: var(--font--primary);
}

.testemonial__stars {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;  
}

.testimonial__star__item {
  width: 36px;
}

/* CONTATO */

.contact .contact__bg {
  background-image: url(/src/public/images/contact.png);
  background-size: cover;
  background-repeat: no-repeat;   
  width: 1600px; 
  height: 1000px;
  opacity: 0.3;
  margin: 390px 0 160px 0;   
}

/* melhorar o position da div */
.contact__forms {
  width: 613px;
  height: 930px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 4380px;
  left: 260px; 
   
  border-radius: 0px 8px 8px 0px;
  border: 2px solid #f3f3f3;
  background: rgba(243, 243, 243, 0.6);
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.1);  
}

.contact__forms__title {
  color: var(--additional--blue);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin: 40px 0;
}

.contact__forms__input {
  width: 517px;
  height: 76px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.input--textarea,
.input--select {
  width: 517px;  
}

.contact__forms__input,
option {
  padding-left: 24px;
  font-size: 20px;
  color: var(--font--secundary);
}

.input--textarea {
  height: 260px;
  padding-top: 24px;
  outline: 0;
}

/* alinhar os itens do checkbox */
.checkbox__item {
  width: 25px;
  height: 25px;  
  border: 2px solid var(--font--primary);  
  border-radius: 8px;
}

.checkbox__title {
  margin-left: 20px;
  font-size: 20px;
  color: var(--font--secundary);
}

.contact__forms__button {
  width: 512px;
  height: 84px;  
  margin-top: 32px;
  background-color: transparent;
  border: 2px solid var(--additional--blue);
  border-radius: 8px;
  color: var(--additional--blue);
  font-size: 20px;
  cursor: pointer;
}

/* ENDEREÇO */

.place a {
  font-size: 28px;
  color: var(--font--primary);
  padding-bottom: 20PX;
}

.place {  
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 5150px;
  left: 1200px;

  text-align: right;
}

/* RODAPÉ */

footer {
  background-color: #f3f3f3;
  height: 300px;
  /* width: 100vw; */
}

.footer__general {
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
}

.footer__about__image__item {
  width: 180px;
  height: auto;
}

.footer__title {
  text-transform: uppercase;
  color: var(--primary--color);
  font-weight: 500;  
}

.footer__list {
  margin-top: 20px;
}

.footer__list__item {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.footer__list__about--link,
.footer__list__services--link,
.footer__list--link {
  color: var(--font--primary);  
}

.networks {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fi {
  font-size: 30px;
  color: var(--primary--color);
}


