@import "./reset.css";

:root {
    /* color */
    --primary--color:#0E409F;
    --secundary--color: #fff; 
    --emphasis--color: #1e7236;
  
    --additional--blue: #0772B6;

    --input--color: #c9c9c5;
  
    /* background */
    --background--primary: #eeeeee;
    --background--secundary: #c7c7c7;
    /* tamanhos */
  
    /* GRID */
    --size--container: 1600px;
    --grid--container: 1fr minmax(1000px, var(--size--container)) 1fr;
    --grid--photo:1fr auto 1fr;    
    
    /* fonte */
    --font--primary: #3c3c3b;
    --font--secundary: #969696;

    --size--headline: 4rem;
    --size--subhead: 2.3rem;
    --size--body: 1.8rem;
    --size--botton: 1.5rem;
    --size--label: 2rem; 
}

body,
html {  
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /*62.5% - 10px*/
}

input {
  all: unset;
  caret-color: var(--primary--color);
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;  
  outline: 0;
}

.container {  
  display: grid;
  grid-template-columns: var(--grid--container);  
}


.menu {  
  grid-column: 2 / 3;    
  display: flex;
  justify-content: center;
  height: 90px;   
}

.menu__logo, 
.menu__nav,
.menu__nav__list,
.menu__search,
.menu__login {
  align-self: center;
}

.menu__logo__item {  
  width: 250px;
  height: auto;
}

.menu__nav {
  width: 590px;
  margin: 0 128px 0 267px ;
}

.menu__nav__list {
  display: flex;
  justify-content: space-around;  
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font--primary);

}

.menu__search--input {
  width: 230px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--input--color);
  font-size: 16px;
  padding-left: 15px;
  color: #969696;
  
}

main {  
  grid-column: 2 / 3;  
  grid-row: 2 / 3;
}

.hero {
  display: flex;
  justify-content: center;    
}

.about {
  background-color: #0E409F;
   
}

.products {
  background-color: #9c9c9c;
   
}

.job {
  background-color: #393e46;
  ; 
}

.testimonial {
  background-color: #eeeeee;
  
}

/* CONTATO */

.contact .contact__bg {
  background-image: url(/src/public/images/contact.png);
  background-size: cover;
  background-repeat: no-repeat; 
  position: relative; 
  width: 1600px; 
  height: 1000px;
  opacity: 0.3;   
}

/* melhorar o position da div */
.contact__forms {
  width: 613px;
  height: 930px;
  display: flex;
  position: absolute;
  top: 720px;
  left: 260px;  
  flex-direction: column;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  background: rgba(243, 243, 243, 0.6);
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.1);  
}

.contact__forms__title {
  color: var(--additional--blue);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin: 40px 0;
}

.contact__forms__input {
  width: 517px;
  height: 76px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.input--textarea,
.input--select {
  width: 541px;  
}

.contact__forms__input,
option {
  padding-left: 24px;
  font-size: 20px;
  color: var(--font--secundary);
}

.input--textarea {
  height: 260px;
  padding-top: 24px;
}

/* alinhar os itens do checkbox */
.checkbox__item {
  width: 25px;
  height: 25px;  
  border: 2px solid var(--font--primary);  
  border-radius: 8px;
}

.checkbox__title {
  margin-left: 20px;
  font-size: 20px;
  color: var(--font--secundary);
}

.contact__forms__button {
  width: 512px;
  height: 84px;  
  margin-top: 32px;
  background-color: transparent;
  border: 2px solid var(--additional--blue);
  border-radius: 8px;
  color: var(--additional--blue);
  font-size: 20px;
  cursor: pointer;
}

/* ENDEREÇO */

.place a {
  font-size: 28px;
  color: var(--font--primary);
  padding-bottom: 20PX;
}

.place {  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1480px;
  left: 1150px;
  text-align: right;
}

/* RODAPÉ */

footer {
  background-color: #f3f3f3;
  height: 300px;
  /* width: 100vw; */
}

.footer__general {
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
}

.footer__about__image__item {
  width: 180px;
  height: auto;
}

.footer__title {
  text-transform: uppercase;
  color: var(--primary--color);
  font-weight: 500;  
}

.footer__list {
  margin-top: 20px;
}

.footer__list__item {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.footer__list__about--link,
.footer__list__services--link,
.footer__list--link {
  color: var(--font--primary);  
}

.networks {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fi {
  font-size: 30px;
  color: var(--primary--color);
}


