@media ( max-width: 1024px ) {

    
    
    /* MENU */
    /* .menu__nav__list {        
        visibility:hidden;
    } */

        

    /* HERO */
    
    .hero {
        display: grid;
        grid-template-rows: 2fr;        
        gap: 0px;
    }
    
    .hero__wrapper {
        grid-row: 1;
        text-align: center;
    }
    
    .hero__image {
        grid-row: 2;
        margin-top: 50px;
    }
    
    /* ABOUT */
    
    .about {        
        background-color: transparent !important;
        align-items: center;        
    }    
    
    .about__image {
        grid-row: 1;
        width: 100%;        
    }

    .about .about__wrapper {
        width: 900px;
        grid-row: 2;       
    }

    .about__title,
    .about__text {
        color: var(--font--primary);
  
    }
    
   
    
    
}

@media ( max-width: 720px ) {
        
   /* MENU BURGUER */

    #list {
        display: block;
        position: absolute;
        top: 8.1rem;
        left: 0;
        background-color: #fff;
        text-align: center;
        width: 100vw;
        height: 0;

        z-index: 1;

        box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.100);
        -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.100);
        -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.100);
        
        /* para esconder o menu c/ animação usando o transition o é 
        preciso usar o visibility pois com o display: none; ele não 
        funciona pois o ele está display: block; ele some da tela*/
        
        transition: 0.5s;
        visibility: hidden;
        overflow-y: hidden; /*para que o conteúdo fique dentro da div*/
    }

    #list a {
        padding: 2rem 0;
    }

    #label {    
        display: flex;
        align-items: center;        
        gap: 0.5rem;
        color: #000;
        cursor: pointer;
        padding-block: 1rem;
    }

    .hamburguer {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }
    
    .hamburguer::before,
    .hamburguer::after {
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor; /*essa propriedade herda a cor do elemento pai*/
        margin-top: 0.3215rem;
        position: relative; /*para funcionar a animação das linhas*/
        transition: 0.3s; /* para suavizar a animação */

    }

    #checkbox:checked ~ #list {
        visibility: visible; /* para mostrar o elemento que não foi usado o display:block; */
        height: calc(100vh - 28.125rem);
        overflow-y: auto; /* para garantir que ira aumentar de acordo com os elementos acrescentado no menu */
    }
    
    /* animação do burguer */
     
    #checkbox:checked ~ #label .hamburguer {
        border-top-color: transparent ;
    }

    #checkbox:checked ~ #label .hamburguer::before {
        transform: rotate(135deg);
    }

    #checkbox:checked ~ #label .hamburguer::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }


    /* CLIENTES */

    .client__item {
        flex-direction: column;
        gap: 50px;
    }
    
    
    /* DEPOIMENTO */

    .testimonial__item {
        flex-direction: column;
        gap: 150px;
        align-items: center;
    }

    /* CONTATO */
    


    /* RODAPÉ */
    
    .footer__general, 
    .footer__inf {
        gap: 50px;
        flex-direction: column;
        align-items: center;        
    }
    
    address {
        text-align: center;       

    }
   

}    