:root {
    /* color */
    --primary--color:#0E409F;
    --secundary--color: #fff;
    --tertiary--color: #1e7236;
  
    --additional--blue: #0772B6;

    --input--color: #c9c9c5;
  
    /* background */
    --background--primary: #eeeeee;
    --background--secundary: #c7c7c7;
    --background--tertiary: #f3f3f3;
    /* tamanhos */
  
    /* GRID */
    --size-container: 1600px;
    --grid--photo:1fr auto 1fr;
    
    /* fonte */
    --font--primary: #3c3c3b;
    --font--secundary: #969696;

    --size--headline: 4rem;
    --size--subhead: 2.3rem;
    --size--body: 1.8rem;
    --size--botton: 1.5rem;
    --size--label: 2rem; 
}